
.body{
    background:rgba(216, 179, 58, 0.61);
}
.login-body{
    background:rgba(216, 34, 59, 0.61);
}
.login-page-container{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.form-container{
    width:500px;
    height:300px;
    background-color: beige;
    border-radius: 5px;
    padding: 2rem;
    padding-bottom: 20px;
}